<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="container1">
            <div class="img">
                <img src="../asset/icon/logo.png" alt="">
            <div class="name">
                <h2>MALINDANOUN</h2>
                <h6>Clothes Shop</h6>
            </div>
           
        </div>
    </header>
    <div class="container2">
        <div class="nav">
        <a href="../index.html" >HOME</a>
        <select id="page">
            
            <a href="../components/page.html"><option value="page">PANG</option></a>
        </select>
        <a href="../components/Blog.html" class="active">BLOG</a>
        <a href="../components/contach.html">CONTACT</a>
    </div>
        <div class="input-box">
            <input type="search" placeholder="Search">
            <i class='bx bx-search'></i>
        </div>
    </div>
    <div class="why-shop-container">
        <h2>WHY SHOP WITH US</h2>
        <div class="features">
            <div class="feature">
                <div class="icon">
                    <img src="../asset/icon/derevry.png" alt="Fast Delivery">
                </div>
                <h3>Fast Delivery</h3>
                <p>Experience fast and reliable delivery for all your orders.</p>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="../asset/icon/sky.png" alt="Free Shipping">
                </div>
                <h3>Free Shipping</h3>
                <p>Enjoy free shipping on orders with no minimum purchase required.</p>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="../asset/icon/free.png" alt="Best Quality">
                </div>
                <h3>Best Quality</h3>
                <p>We offer products that meet the highest quality standards.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="icon1">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="container6">
          <div class="row">
            <div class="col-md-3 about-us">
              <h4>ABOUT US</h4>
              <p class="the">Our store was established on 17/10/2024 and also opened on 30/10/2024.
                The shop owners are <ins style="color: blueviolet;">NOV Sreynoun</ins> and <ins style="color: blueviolet;">Doung chanlida</ins> as managers.</p>
            </div>
            <div class="col-md-3 newsletter">
               
              <h4>Newsletter</h4>
              <form>
                <input type="Email" placeholder="Enter your email">
                <button type="submit">SUBSCRIBE</button>
              </form>
            </div>
            <div class="col-md-3 need-help">
              <h4>NEED HELP</h4>
              <p class="the">If you have any questions, please contact us.</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>CONTACT US</h4>
                <ul>
                  <li><i class='fa fa-call'></i> 123 Gb Road, phomphenh </li>
                  <li><i class='fa fa-phone'></i> +885 066677597</li>
                  <li><i class='fa fa-envelope'></i><ins>Malindanoun@gmail.com</ins> </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="sider"></div>
       <p class="tel"> @ 2024 Allrigth coding by: Sreynoun NOV</p>
      </footer>
</body>
</html>