<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="container1">
            <div class="img">
                <img src="../asset/icon/logo.png" alt="">
            <div class="name">
                <h2>MALINDANOUN</h2>
                <h6>Clothes Shop</h6>
            </div>
           
        </div>
    </header>
    <div class="container2">
        <div class="nav">
        <a href="../index.html" >HOME</a>
        <select id="page">
            
            <a href="../components/page.html"><option value="page">PANG</option></a>
        </select>
        <a href="../components/Blog.html">BLOG</a>
        <a href="../components/contach.html" class="active">CONTACT</a>
    </div>
        <div class="input-box">
            <input type="search" placeholder="Search">
            <i class='bx bx-search'></i>
        </div>
    </div>
</section>
<h4 style="color: black;">Contact US</h4>
<div class="container">
    
    <div class="map">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.999040499515!2d2.292292615675175!3d48.858844179287226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdfb088b241%3A0x360377bebf2eaf0b!2sEiffel%20Tower!5e0!3m2!1sen!2sfr!4v1616511473755!5m2!1sen!2sfr" 
            width="900" 
            height="800" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"></iframe>
    </div>

    <div class="contact-form">
        <form action="#" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone">

            <label for="message">Message</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">SEND</button>
        </form>
    </div>
</div>
<footer>
    <div class="icon1">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-youtube'></i></a>
    </div>
    <div class="container6">
      <div class="row">
        <div class="col-md-3 about-us">
          <h4>ABOUT US</h4>
          <p class="the">Our store was established on 17/10/2024 and also opened on 30/10/2024.
            The shop owners are <ins style="color: blueviolet;">NOV Sreynoun</ins> and <ins  style="color: blueviolet;">Doung Chanlida as managers.</ins></p>
        </div>
        <div class="col-md-3 newsletter">
           
          <h4>Newsletter</h4>
          <form>
            <input type="Email" placeholder="Enter your email">
            <button type="submit">SUBSCRIBE</button>
          </form>
        </div>
        <div class="col-md-3 need-help">
          <h4>NEED HELP</h4>
          <p class="the">If you have any questions, please contact us.</p>
        </div>
        <div class="col-md-3 contact-us">
            <h4>CONTACT US</h4>
            <ul>
              <li><i class='fa fa-call'></i> 123 Gb Road, phomphenh </li>
              <li><i class='fa fa-phone'></i> +885 066677597</li>
              <li><i class='fa fa-envelope'></i><ins>Malindanoun@gmail.com</ins> </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="sider"></div>
   <p class="tel"> @ 2024 Allrigth coding by: Sreynoun NOV</p>
  </footer>
</body>
</html>