<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website clothes</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="container1">
            <div class="img">
                <img src="../asset/icon/logo.png" alt="">
            <div class="name">
                <h2>MALINDANOUN</h2>
                <h6>Clothes Shop</h6>
            </div>
           
        </div>
    </header>
    <div class="container2">
        <div class="nav">
        <a href="../index.html">HOME</a>
        <select id="page">
            
            <a href="../components/page.html"><option value="page">PANG</option></a>
        </select>
        <a href="../components/Blog.html">BLOG</a>
        <a href="../components/contach.html">CONTACT</a>
    </div>
        <div class="input-box">
            <input type="search" placeholder="Search">
            <i class='bx bx-search'></i>
        </div>
    </div>
    <section class="products-section">
        <h2>LATEST PRODUCTS</h2>
        <div class="product-grid">
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/1.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$40</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/2.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$60</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/3.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$110</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/4.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$100</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/5.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$95</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/6.jpg" alt="Flower Bouquet">
                <p>Flower Bouquet</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/7.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$90</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/8.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$150</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/9.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$250</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/10.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$50</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/11.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$60</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/12.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$30</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/13.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$110</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/14.jpg" alt="Flower Bouquet">
                <p>Flower Bouquet</p>
                <p class="price">Price <span>$100</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/15.jpg" alt="Teddy Bear">
                <p>Teddy Bear</p>
                <p class="price">Price <span>$95</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/16.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/17.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$100</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/18.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$30</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/19.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$250</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/20.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$20</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/21.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$200</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/22.jpg" alt="Watch">
                <p>Watch</p>
                <p class="price">Price <span>$200</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/23.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$110</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/24.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$100</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/25.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$95</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/26.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/27.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$80</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/30.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$90</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/31.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$250</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/32.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$90</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/33.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$200</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/34.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/35.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$90</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/36.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$60</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/37.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$95</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/38.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/39.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$30</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/40.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$160</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/41.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$250</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/42.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$50</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/43.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$20</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/44.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$300</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/45.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$110</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/46.jpg" alt="Flower Bouquet">
                <p>Flower Bouquet</p>
                <p class="price">Price <span>$100</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/47.jpg" alt="Teddy Bear">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$95</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/48.jpg" alt="Flower Bouquet">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$70</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/49.jpg" alt="Watch">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$300</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/50.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$50</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/51.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$20</span></p>
            </div>
            <div class="product-card">
                <span class="new-badge">New</span>
                <img src="../asset/page/53.jpg" alt="Ring">
                <p>Discount​​50%</p>
                <p class="price">Price <span>$50</span></p>
            </div>
        </div>
        <a href="../components/Blog.html"><button class="view-products-btn">BYE NOW</button></a>
    </section>
    <footer>
        <div class="icon1">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="container6">
          <div class="row">
            <div class="col-md-3 about-us">
              <h4>ABOUT US</h4>
              <p class="the">Our store was established on 17/10/2024 and also opened on 30/10/2024.
                The shop owners are <ins style="color: blueviolet;">NOV Sreynoun</ins> and <ins style="color: blueviolet;">Doung Chanlida</ins> as managers.</p>
            </div>
            <div class="col-md-3 newsletter">
               
              <h4>Newsletter</h4>
              <form>
                <input type="Email" placeholder="Enter your email">
                <button type="submit">SUBSCRIBE</button>
              </form>
            </div>
            <div class="col-md-3 need-help">
              <h4>NEED HELP</h4>
              <p class="the">If you have any questions, please contact us.</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>CONTACT US</h4>
                <ul>
                  <li><i class='fa fa-call'></i> 123 Gb Road, phomphenh </li>
                  <li><i class='fa fa-phone'></i> +885 066677597</li>
                  <li><i class='fa fa-envelope'></i><ins>Malindanoun@gmail.com</ins> </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="sider"></div>
       <p class="tel"> @ 2024 Allrigth coding by: Sreynoun NOV</p>
      </footer>
</body>
</html>